




/* -----------START NAVBSR-------------- */


header {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    z-index: 9;
}

header .container .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    background-color: var(--main-dark);
    border-radius: 30px;
    margin: 0 auto;
    padding: 5px 30px;
}

@media (max-width: 767px) {
    header .container .navbar {
        width: 100%;
    }
}

header .container .navbar li {
    padding: 10px;
    cursor: pointer;
}

header .container .navbar li a {
    color: var(--light);
    font-size: 15px;
    font-weight: 600;
    transition: all var(--transition);
}

header .container .navbar li:hover a {
    color: var(--primary);
}

header .container .logo img {
    padding-top: 4px;
    width: 40px;
    max-width: 100%;
}

@media (max-width: 500px) {
    header .container .logo {
        flex-basis: 100%; 
        text-align: center;
    }
    header .container  .logo img {
        width: 30px;
        max-width: 100%;
    }
    header .container .navbar li a {
        font-size: 13px;
    }
}



/* -----------END NAVBSR-------------- */
/* -----------START LANDING----------- */



.landing {
    position: relative;
}

.landing .line-right {
    position: absolute;
    top: 70px;
    right: 70px;
    color: var(--light);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    z-index: 2;
}

.landing .line-right .line {
    width: 2px;
    height: 200px;
    background-color: var(--light);
}

.landing .line-right .text {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
}

@media (max-width: 768px) {
    .landing .line-right {
        display: none;
    }
}

.landing .line-right .mouse {
    width: 20px;
    height: 30px;
    border: 2px solid var(--light);
    border-radius: 9px;
    position: relative;
    cursor: pointer;
    transition: var(--transition);
}

.landing .line-right .mouse:hover{
    border: 2px solid var(--primary);
}

.landing .line-right .mouse span {
    width: 2px;
    height: 10px;
    background-color: var(--light);
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    transition: var(--transition);
}

.landing .line-right .mouse:hover span {
    top: 50%;
    background-color: var(--primary);
}

.landing .container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.landing .container .title {
    margin-top: 150px;
    flex-basis: 60%;
}

.landing .container .image {
    flex-basis: 50%;
    position: relative;
}
.landing .container .image .mask {
    position: absolute;
    bottom: 50px;
    right: 0;
    z-index: -1;
}

@media (max-width: 992px) {
    .landing .container .image {
        display: none;
    }
    .landing .container .title {
        flex-basis: 100%;
    }
}

.landing .container .image .lamp-right {
    right: 200px;
    bottom: 190px;
}

.landing .container .image img {
    max-width: 100%;
    position: relative;
}

.landing .container .title span img {
    width: 70px;
}

.landing .container .title span img:hover  {
    -webkit-animation: move-hello .9s;
            animation: move-hello .9s;
}

.landing .container .title span {
    display: block;
    color: var(--light);
    font-size: 70px;
    font-weight: 600;
}

@media (max-width: 360px) {
    .landing .container .title span {
        font-size: 50px;
    }
}

.landing .container .title span small {
    color: var(--primary);
    font-size: 80px;
}

.landing .container .title .socail-icon {
    margin-top: 100px;
    display: flex;
    gap: 20px;
}

.landing .container .title .socail-icon a i {
    display: block;
    width: 30px;
    height: 30px;
    background-color: var(--light);
    border-radius: 50%;
    font-size: 20px;
    color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.landing .container .title .socail-icon a i:hover {
    background-color: var(--primary);
    color: var(--light);
}


/* -----------END LANDING----------- */
/* -----------START COMPANY--------- */


.company {
    margin-top: -3z;
    background-color: #171717bd;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    border-top: 1px solid #77777748;
    border-bottom: 1px solid #77777748;
    overflow: hidden;
}

@media (max-width: 992px) {
    .company {
        margin-top: 40px;
    }
}

.company .slider {
    display: flex;
    align-items: center;
    -webkit-animation: move-slide 25s linear infinite ;
            animation: move-slide 25s linear infinite ;
    width: calc(350px * 9);
}

.company .slider .info {
    padding: 10px 60px;
    width: 276px;
}

.company .slider .info img {
    max-width: 100%;
    height: 100%;
}



/* -----------END COMPANY--------- */
/* -----------START SERVICES------ */



.services {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    position: relative;
}

.services .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 992px) {
    .services .container {
        justify-content: center;
        gap: 50px;
    }
}

.services .container .box {
    margin-top: 50px;
    width: 300px;
    height: 330px;
    padding: 20px;
    background-color: var(--main-dark);
    border-radius: 20px;
    text-align: left;
    border: 2px solid var(--p-color);
    transition: var(--transition);
}

@media (max-width: 360px) {
    .services .container .box{
        width: 100%;
    }
    .services .main-title {
        font-size: 30px;
    }
}

.services .container .box:hover {
    transform: translateY(-5px);
}

.services .container .box img {
    margin-top: 110px;
    width: 50px;
    max-width: 100%;
}

.services .container .box .img-ma {
    padding-top: 25px;
}

.services .container .box .text {
    font-size: 22px;
    font-weight: 400;
    color: var(--light);
    margin-top: 10px;
}

.services .container .box p {
    font-size: 13px;
    font-weight: 300;
    color: var(--p-color);
    line-height: 1.4;
    margin-top: 18px;
}


/* -----------END SERVICES----------- */
/* -----------START PORTFOLIO-------- */


.portfolio {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    position: relative;
}

.portfolio .tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--main-dark);
    border-radius: 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 80px;
}

.portfolio .tabs li {
    color: var(--light);
    font-weight: 300;
    font-size: 16px;
    padding: 15px;
    cursor: pointer;
    transition: var(--transition);
}

.portfolio .tabs li:hover,
.portfolio .tabs .active {
    color: var(--primary);
}

.container .content .box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
}

.container .content .box:not(:first-child){
    display: none;
}

.content .video  {
    width: 450px;
    height: 300px;
    border-radius: 20px;
    border: 1px solid var(--primary);
    background-color: var(--dark);
    position: relative;
    cursor: pointer;
}
@media (max-width: 768px) {
    .content .video {
        width: 100%;
        height: 200px;
    }
}
.content .video img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
}

.play-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: var(--dark);
    transition: var(--transition);
}

.video__modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0,0,0, .6);
}

.video__modal.show {
    display: block !important;
}

.video__modal iframe {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--light);
}
@media (max-width: 768px) {
    .video__modal iframe {
        height: 50%;
    }
}

.video__modal button {
    width: 30px;
    height: 30px;
    background-image: url("../images/x-lg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    border-width: 0;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
}

.content .video:hover .play-icon i {
    color: rgb(255, 13, 13);
}

.lamp-video {
    height: 82px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.content .box .row {
    transition: var(--transition);
}

.content .box .row:hover {
    transform: translateY(-10px); 
}




/* -----------END PORTFOLIO------------ */
/* -----------START TESTIMONIALS------- */





.testimonials {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    position: relative;
}

.testimonials__carousel {
    padding: 0;
}

.testimonials__carousel .owl-stage-outer {
    width: 100%;
    overflow: hidden;
}

.testimonials__carousel .owl-stage {
    display: flex;
}

.testimonials__carousel .owl-item:not(:last-of-type) {
    margin-right: 10px;
}

.testimonials .owl-nav button {
    display: block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    position: absolute;
    top: calc(50% - 20px);
}

@media only screen and (max-width: 850px) {
    .testimonials .owl-nav button {
        top: calc(100% + 10px);
    }
}

.testimonials__carousel .owl-next {
    right: -90px;
    background-image: url("../images/arrow-right-circle.svg");
}

@media only screen and (max-width: 850px) {
    .testimonials .owl-nav .owl-next {
        right: 0;
    }
}

.testimonials__carousel .owl-prev {
    left: -90px;
    background-image: url("../images/arrow-left-circle.svg");
}

@media only screen and (max-width: 850px) {
    .testimonials .owl-nav .owl-prev {
        left: 0;
    }
}

.testimonials .container {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: var(--padding-top);
    margin-bottom: var(--padding-bottom);
    display: flex;
    justify-content: center;
    position: relative;
}

@media only screen and (max-width: 850px) {
    .testimonials .container {
        width: auto;
        max-width: 300px;
    }
}

.testimonials .container .box {
    padding: 20px;
    width: 650px;
    background-color: #00C517;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: -webkit-grab;
    cursor: grab;
}

@media only screen and (max-width: 850px) {
    .testimonials .container .box {
        width: 250px;
    }
}

.testimonials .container .box img {
    margin: 20px;
    width: 100px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
}

.testimonials .container .box .text p {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.testimonials .container .box .text h2 {
    font-weight: 600;
    font-size: 20px;
}

.arrow-left {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    color: var(--light);
    font-size: 40px;
    cursor: pointer;
}

.arrow-right {
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    color: var(--light);
    font-size: 40px;
    cursor: pointer;
}

@media (max-width: 992px) {
    .arrow-left {
        left: 10px;
    }
    .arrow-right {
        right: 10px;
    }
    .testimonials .container .box {
        flex-direction: column;
        text-align: center;
    }
}





/* -----------END TESTIMONIALS--------- */
/* -----------START CONTACT--------- */





.contact {
    background-color: var(--primary);
    border-radius: 50px 50px 0 0;
    padding-top: 30px;
    padding-bottom: var(--padding-bottom);
    margin-bottom: 0px;
    position: relative;
}

.contact .container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

@media (max-width: 992px) {
    .contact .container {
        flex-direction: column;
        justify-content: center;
    }
    .contact .container form {
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .contact .container .maps {
        width: 100% !important;
    }
}


.contact .container form {
    flex-basis: 50%;
    width: 100%;
}

.contact .container form .input-data {
    position: relative;
    display: block;
}
.contact .container form label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: var(--light);
    pointer-events: none;
    transition: var(--transition);
}
.contact .container form input:focus ~ label,
.contact .container form textarea:focus ~ label,
.contact .container form input:valid ~ label,
.contact .container form textarea:valid ~ label {
    top: -20px;
    left: 0;
    color: var(--dark);
}
.contact .container form .input,
.contact .container form textarea {
    margin-bottom: 20px;
    width: 100%;
    border: none;
    background-color: #00C517;
    border-bottom: 2px solid  var(--light);
    padding: 10px 0;
    outline: none;
    color: var(--light);
    font-size: 16px;
}

.contact .container form textarea {
    resize: none;
    width: 100%;
    height: 100px;
}

.contact .container form input[type="submit"] {
    background-color: var(--dark);
    padding: 10px;
    border-radius: 15px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: var(--light);
    font-weight: 300;
    border: none;
    outline: none;
    font-size: 15px;
    line-height: 29px;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.contact .container .maps {
    width: 50%;
    height: 300px;
    background-color: var(--light);
    border-radius: 30px;
}





/* -----------START FOOTER--------- */





footer {
    background-color: var(--primary);
    padding: 20px 0;
    margin-bottom: 0;
}
footer .container span {
    display: block;
    padding: 15px 0 0;
    text-align: left;
    border-top: 1px solid var(--light);
    color: var(--light);
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}



/* -----------END FOOTER--------- */